body{
    max-width: 1080px;
    margin: 0 auto;
}
.card-container{
    margin: 0 auto;
    text-align: center;
}
.card-section{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 100px;
}
.card{
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 0px 10px rgba(160, 160, 160, 0.934);
    font-size: 1em;
    text-align: left;
}
.card img{
    width: 100%;
    border-radius: 10px;

}
.card:hover{
    background-color: lightcoral;
}
.card button{
    padding: 8px 20px;
    background-color: lightblue;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}