body{
    background-color: antiquewhite;
    max-width: 1080px;
    margin: 0 auto;
    
}

.hero-container{
    background-color: aquamarine;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    font-size: 1.1em;
}

.hero-container img{
    width: 100%;
    height: 300px;
    border-radius: 20px;
}

.hero-container button{
    padding: 10px 25px;
    background-color: lightcoral;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.1em;
    cursor: pointer;
}